/* --- GLOBAL STYLES --- */

* {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important; 
}

html, body {
	margin: 0;
	padding: 0;
	
	position: relative; 
	
	width: 100%;
	height: 100%;
	
	font-size: 12pt;
	font-family: "DejaVu Sans", "Roboto", "Vera Sans", sans-serif;
}



/* --- page regions --- */

#sidebar {
	width: 350px; /* also defined in JS */
	position: fixed;
	right: 0; top: 0;
	background-color: #eee;
	border-left: 1px solid #999;
	overflow-y: auto;
}

#tablebox {
	position: relative;
	left: 0; top: 0;
	overflow: auto;
}



/* --- process table --- */

#loading {
	font-size: 16pt;
	text-align: center;
	padding: 16px;
	color: #2B619F;
	font-weight: bold;
}

#proc {
	border-collapse: collapse;
	border-spacing: 0;
}


/* header & cells */

#proc thead tr {
	background-color: #93C3FA;
}

#proc td {
	padding: 5px 8px;
	border-left: 1px solid #ddd;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#proc th {
	padding: 5px 0px;
	border-left: 1px solid #85B2E6;
	font-weight: bold;
	color: #49617D;
	text-align: center;
	cursor: pointer;
	
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#proc th:first-child,
#proc td:first-child {
	border-left: 0 none;
}


/* sorting arrows */
.sort-asc, .sort-desc { color: black !important; }

.sort-arrow-asc { display: none; }
.sort-arrow-desc { display: inline; color: #698CB3; }

.sort-asc .sort-arrow-asc { display: inline; }
.sort-asc .sort-arrow-desc { display: none; }
.sort-desc .sort-arrow-desc { display: inline; color: black; }



/* columns */
.pid {
	max-width: 75px;
	min-width: 75px;
}

.pcpu, .pmem, .state, .vsz, .rsz {
	max-width: 90px;
	min-width: 90px;
}

.nice, .pri {
	max-width: 60px;
	min-width: 60px;
}

.comm {
	max-width: 200px;
}
.user {
	max-width: 120px;
}

.args {
	max-width: 300px;
}


/* hover row effect */
#proc tbody tr:nth-child(2n) {
	background-color: #eee;
}

#proc tbody tr:hover {
	background-color: #B6D6FA;
}

#proc tbody tr:hover td {
	border-left: 1px solid #A5C4E8;
}


/* --- side panel --- */

.sb-box {}

#nodemon-logo {
	font-size: 28pt;
	letter-spacing: -2pt;
	color: #3F81CD;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
}

#nodemon-logo-2 {
	font-size: 12pt;
	color: #3F81CD;
	font-weight: bold;
	letter-spacing: 3pt;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 5pt;
}

.sb-box-title {
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 4px 10px;
	text-align: left;
	font-size: 14pt;
	background-color: #9EB4CD; /*#829FBF;*/
	color: #313840;
}

.sb-box-content {
	font-size: 11pt;
	margin: 15px 10px 15px 10px;
}

.sb-box-table {
	border-collapse: collapse;
}

.sb-box-table td {
	padding: 3px 2px;
    white-space: nowrap;
}

.sb-box-table td.sb-box-table-key {
	
	text-align: right;
	padding-right: 6px;
	color: #285B95;
	font-weight: bold;
}

.sb-box-table td.sb-box-table-value {
	text-align: left;
	color: #313840;
	
	text-overflow: ellipsis;
    overflow: hidden;
}

.sb-box-table-rowspacer td {
	padding-top: 10px;
}


/* usage bar */

.usage-bar, .usage-bar div {
	height: 25px;
	border-radius: 3px;
}

.usage-bar div {
	position: absolute;
}

.usage-bar {
	margin: 5px;
	position: relative;
	background-color: #933;
}

.usage-bar-fill {
	left: 0; top: 0;
	background-color: #F33;
}

.usage-bar-label {
	line-height: 25px;
	vertical-align: middle;
	font-size: 12pt;
	padding: 0 10px;
	top: 0;
	/*font-style: italic;*/
	color: white;
	text-shadow: 0 0 2px black;
}

.usage-bar-label.left {
	left: 0;
}

.usage-bar-label.right {
	right: 0;
}

/* usage bar colors */
.usage-bar.cpu { background-color: #902929; }
.usage-bar.cpu .usage-bar-fill { background-color: #E62E2E; }/*#E62E2E*/

.usage-bar.disk { background-color: #296990; }
.usage-bar.disk .usage-bar-fill { background-color: #2EA0E6; }

.usage-bar.ram { background-color: #907729; }
.usage-bar.ram .usage-bar-fill { background-color: #F2BD18; }


/* cores */
.core-box {
	margin: 5px;
}

.core {
	margin: 6px 6px 0 0;
	display: inline-block;
	width: 70px; height: 70px;
	
	position: relative;
	background-color: #404040;
	border: 2px solid #111111;
}

.core-name, .core-freq {
	position: absolute;
	padding: 6px 3px;
    white-space: nowrap;
	width: 100%;
	text-align: center;
}

.core-name {
	font-size: 10pt;
	color: white;
	top: 5px;
	left: 0;
}

.core-freq {
	font-size: 8pt;
	color: yellow;
	font-weight: bold;
	background-color: #292929;
	bottom: 5px;
	left: 0;
}